body {
    font-family: 'Roboto', sans-serif;
}
.entrada {
    max-width: 375px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
}
.entrada img,
.carregando img {
    margin-top: 72px;
    width: 130px;
    height: 92px;
}
.entrada input {
    width: 260px;
    height: 54px;

    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    color: #AEAEAE;

    background-color: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;

    margin-top: 94px;
}

.entrada button {
    width: 109px;
    height: 45px;

    text-align: center;
    color: #696969;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    
    border-radius: 9px;
    background-color: #E7E7E7;
    border: none;

    margin-top: 15px;
}

.carregando {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
}

.carregando #gif{
    width: 75px;
    height: 75px;

    margin-top: 94px;
    margin-bottom: 7px;
}
.secao-principal {
    max-width: 500px;

    margin: 0 auto;
    
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;
    width: 100%;

    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    
    position: fixed;
    top: 0;
    left: 0;
}

header img {
    width: 75px;
    height: 53px;

    margin-left: 20px;
}

header ion-icon {
    font-size: 40px;
    margin-right: 20px;
}

.enviar-mensagem {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #000000;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

    position: fixed;
    bottom: 0;
    left: 0;
}

.digitar-mensagem {
    margin-left: 20px;
}

.digitar-mensagem input {
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    

    border: none;
    height: 25px;
    width: 250px;
}
.enviar-mensagem ion-icon {
    font-size: 25px;
    margin-right: 20px;
}

.informacoes-mensagem {
    
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
}

.bate-papo {
    margin-top: 106px;
    margin-bottom: 90px;
    background-color: #F3F3F3;
}

time {
    color: #AAAAAA;
}

.mensagem {
    width: 100%;

    font-size: 14px;
    line-height: 20px;

    margin-bottom: 4px;
    border-radius: 2px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.privada {
    background-color: #FFDEDE;
}
.status {
    background-color: #DCDCDC;
}
.todos {
    background-color: #FFFFFF;
}
.texto {
    margin: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}
span {
    font-weight: 700;
}


.ativos {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    
    background-color:  rgba(0, 0, 0, 0.6);
    z-index: 2;
    
}

.informacoes {
    width: 259px;
    height: 100%;

    position: fixed;
    right: 0;
    top: 0;
    
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    z-index: 3;
    
}

#título, #visibilidade {
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: #000000;
    text-align: center;
    
    margin-bottom: 8px;
}

.participantes, .visibilidade-mensagem {
    
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    
    height: 120px ;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.participantes ion-icon, .visibilidade-mensagem ion-icon {
    font-size: 23px;
    margin-right: 8px;
}

.usuario, .opcoes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    font-size: 16px;
    margin-bottom: 8px;
    padding: 5px;
    
    position: relative;
}

.participantes::-webkit-scrollbar, .visibilidade-mensagem::-webkit-scrollbar {
    display: none;
} 

.participantes .usuario .check, .visibilidade-mensagem .opcoes .check {
    font-size: 8px;
    color: #28BB25;
    position: absolute;
    right: 8px;
    bottom: 6px;
    opacity: 0;
}

.participantes .selecionado .check, 
.visibilidade-mensagem .selecionado .check{
    opacity: 1;
}

.escondido {
    display: none;
}